* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  border-radius: 3px;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #999;
}
ul {
  list-style: none;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: skyblue;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 11px;
  border: 1px solid transparent;
  border-left: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3182ce;
}

/* body */

body {
  font-family: monospace;
  padding: 100px 0 0;
  border-radius: 0;
  
}

body::-webkit-scrollbar {
  width: 21px;
}

body::-webkit-scrollbar-track {
  background-color: skyblue;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 11px;
  border: 7px solid transparent;
  border-left: 7px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #3182ce;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
}

article {
  width: 100%;
  height: auto;
  background-color: #3182ce;
  border-radius: 0;
}

article:nth-child(2n) {
  background-color: #fff;
}

article:not(:nth-child(2n)) {
  color: #fff;
}
@media(max-width: 768px) {
}
/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

header h1 {
  font-size: calc(1rem + 2.1vw);
  color: #3182ce;
}

/* navstop */

.navstop {
  background-color: #870932;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 21px;
  right: 21px;
  z-index: 1;
}

.navstop-dropdown {
  height: 100%;
  width: 0;
  position: fixed;
  top: 100px;
  right: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: .7s;
  border-radius: 0;
  z-index: 1;
}

.navstop-link {
  padding: .3em .7em;
  text-decoration: none;
  border-radius: 0;
  transition: 0.7s;
}

.navstop-link a {
  font-size: 1.1rem;
  color: #4a0c16;
}

.navstop-link.current {
  background-color: #4a0c16;
  color: #fff;
}

.navstop-link.current a {
  color: #fff;
}

.navstop-link a:hover {
  font-size: 1.17rem;
}

/* showcase */

.showcase {
  background-color: #3182ce;
}

.showcase .pic-wrap::before {
  content: '';
  display: block;
  position: absolute;
  top: -140px;
  left: -120px;
  width: 550px;
  height: 170px;
  background-color: #3182ce;
  transform: rotate(-30deg);
}

.showcase .pic-wrap {
  max-width: 470px;
  height: 100%;
  overflow: hidden ;
  margin: 30px auto 0;
  position: relative;
  border-radius:77px;
}

.showcase .pic-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  right: -270px;
  width: 550px;
  height: 170px;
  background-color: #3182ce;
  transform: rotate(70deg);
}

.showcase .pic-wrap .pic {
  width: 100%;
  height: auto;
}

.showcase .bio {
  max-width: 700px;
  margin: 0 auto;
}

.showcase .bio p {
  padding: 20px;
  text-align: left;
  letter-spacing: 1.1px;
}

@media(max-width: 470px) {
  
.showcase .pic-wrap::before {
  display: none;
}

.showcase .pic-wrap {
  margin: 0 auto;
  border-radius: 0;
}

.showcase .pic-wrap::after {
  display: none;
}
}


/* personality */

.personality-fields {
  display: flex;
  padding: 1em;
  gap: 21px;
  align-items: stretch;
}
@media (max-width: 768px) {
  .personality-fields {
    flex-flow: column;
    gap: 11px;
  }
}

/* technologies, blogs, miscellaneous*/

.personality-field {
  padding: 1em;
  display: flex;
  gap: 11px;
  flex-flow: column;
  align-items: flex-start;
  border: 3px solid skyblue;
  height: auto;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .personality-field {
    gap: 11px;
    overflow-y: initial;
  }
}
#miscellaneous {
  flex: 1;
}
#technologies {
  flex: 1.5;
}
#blogs {
  flex: 3;
}
.personality-field h2 {
  font-size: 1.1rem;
  color: #3182ce;
}
.field-info {
  font-size: .7rem;
  border-radius: 3px;
  background-color: skyblue;
  color: #fff;
  padding: .3em;
}
.miscellaneous-btn {
  padding: .3em .7em;
  background-color: #3182ce;
  color: #fff;
  font-size: .7rem;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-table {
  font-size: 1.1rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: skyblue;
}

.blog-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.blog-article {
  color: #777;
  display: flex;
  gap: 11px;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: calc(50% - 10.5px);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding-bottom: 4em;
}
#bootReactAppBlog .blog-display-pic-wrap {
  background-image: url(../media/blog_pic_01.jpg);
}
#jsReigniteLoveForCoding .blog-display-pic-wrap {
  background-image: url(../media/blog_pic_02.jpg);
}
#bootReactAppBlog2 .blog-display-pic-wrap {
  background-image: url(../media/blog_pic_03.jpg);
}
#bootReactAppBlog3 .blog-display-pic-wrap {
  background-image: url(../media/blog_pic_04.jpg);
}
#bootReactAppBlog4 .blog-display-pic-wrap {
  background-image: url(../media/blog_pic_05.jpg);
}
.blog-display-pic-wrap {
  width: 100%;
  height: 11vh;
  background-color: #3182ce;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog-description {
  padding: 0 .7em;
  font-size: .7rem;
  text-align: justify;
}

.blog-btn {
  padding: .3em .7em;
  background-color: #3182ce;
  color: #fff;
  font-size: .7rem;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1em;
}

@media(max-width: 768px) {
  .blog-articles {
    flex-flow: column;
  }

  .blog-article {
    width: 100%;
  }
}

/* projects */

#projects{
  height: auto;
  padding: 1em;
  display: flex;
  gap: 21px;
  flex-flow: column;
  align-items: flex-start;
  overflow-y: auto;
}
#projects h2{
  font-size: 1.7rem;
  color: #fff;
  text-align: center;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  width: 100%;
}

.project {
  padding: 1em 1em 4em 1em;
  display: flex;
  gap: 11px;
  flex-flow: column;
  align-items: center;
  font-size: .7rem;
  width: calc(33.3334% - 14px);
  border: 3px solid #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  height: auto;
  position: relative;
}

.project-text {
  max-width: 270px;
  text-align: justify;
}

.project-btns {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1em;
}

.siteName-btn, .codeLink-btn {
  padding: .3em .7em;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: .7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px) {
  .project-wrapper {
    flex-flow: column;
  }

  .project {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .footer-body {
  display: flex;
}

footer .footer-body .name-footer {
  text-align: center;
  padding: 10px;
}

footer .footer-body .footer-menu {
  padding: 10px;
}

footer .footer-body .footer-right {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

footer .footer-body .footer-right span h3 {
  display: inline-flex;
}

footer .footer-body .footer-right .contact {
  white-space: nowrap;
}

footer .footer-body .footer-right .socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .footer-body .footer-right .socialmedia a {
  margin-bottom: -5px;
}

footer .footer-body .footer-right .socialmedia a img {
  opacity: .7;
  width: 17px;
}

@media(max-width: 768px) {
  footer .footer-body {
    flex-flow: column;
  }
    
  footer .footer-body .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.visible {
  display: block;
}