

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style: none;
}

/* body */

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar inside header */

#navbar{
  display: flex;
  justify-content: space-around;
  background-color: #1D4ED8;
  color: #fff;
}

#navbar h1{
  font-size: 1.7em;
  padding: 1em;
}

#navbar ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 21vw;
}
#navbar ul li{
  flex: 1;
  font-size: 1.3em;
  padding: 1.5em;
  text-align: center;
}
#navbar ul li:hover{
  background-color: #1E40AF;
}
#navbar ul li.current{
  background-color: #1E40AF;
}

/* main section */
#main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* showcase */

#showcase {
  padding: 0 0 3em 0;
}
#showcase h2{
  font-size: 3em;
  text-align: center;
  color: #1d4ed8;
  padding: .5em 0 .5em 0;
}
#showcase div{
  padding: 1em;
  background-color: #60A5FA;
  border-radius: 1em;
}
#showcase div img{
  width: 50vw;
}

/* technologies */

#technologies{
  padding: 0 0 1em 0;
}
#technologies h2{
  text-align: center;
  color: #1d4ed8;
}
#technologies p{
  margin: .5em;
  font-size: 1.5em;
  color: #333;
}
#skills ul{
  display: flex;
  justify-content: space-evenly;
  color: #60A5FA;
}

/* projects */

#projects{
  padding: 1em 0 1em 0;
}
#projects h2{
  text-align: center;
  color: #1d4ed8;
}
#project-div{
  margin: 1em;
  font-size: 1.1em;
  color: #333;
}

.project{
  margin: 1em;
}

.project a{
  color: #B45309;
}

/* blogs */

#blogs{
  padding: 1em 0 1em 0;
}
#blogs h2{
  text-align: center;
  color: #1d4ed8;
}

#blogs p{
  margin: 1em;
  font-size: 1.1em;
  color: #333;
}

#blogs p a{
  color: #B45309;
}

/* miscellaneous */

#miscellaneous{
  padding: 1em 0 1em 0;
}
#miscellaneous h2{
  text-align: center;
  color: #1d4ed8;
}
#miscellaneous p{
  margin: 1em;
  font-size: 1.1em;
  color: #333;
}

#miscellaneous p a{
  color: #B45309;
}